.footer-area {
    background-color: black;

    .footer-elements {
        @media screen and (min-width: $desktopLarge) {
            width: 1170px;
        }

        @media screen and (min-width: $desktop) {
            width       : 970px;
            margin-right: auto;
            margin-left : auto;

            display              : grid;
            grid-template-columns: repeat(3, calc(33.3% - 23px));
            gap                  : 30px;
        }

    }

    .address-infos {

        color: white;

        header {
            h2 {
                font-size: 20px;
                margin   : 0;
                padding  : 25px 0 0 0;
            }

            hr {
                width : 8%;
                border: 3px solid white;
            }
        }

        div {

            p {
                margin-top : 0;
                font-size  : 13px;
                line-height: 24px;
            }
        }
    }

    .contacts {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;

        button {
            &:nth-child(1) {
                margin-bottom: 15px;
            }

            width          : 200px;
            height         : 40px;
            border-radius  : 5px;
            border         : none;
            display        : flex;
            align-items    : center;
            justify-content: center;
            text-transform : uppercase;

            img {
                margin-right: 20px;
            }
        }
    }

    .logos-footer {
        display        : flex;
        color          : white;
        justify-content: space-around;

        div {
            display        : flex;
            flex-direction : column;
            font-size      : 10px;
            justify-content: center;

            span {
                padding-bottom: 3px;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        .address-infos {
            header {
                padding: 27px 10px 10px 10px;

                h2 {
                    font-size: 18px;
                    padding  : 0;
                }

                hr {
                    width: 32px;
                }
            }

            div {
                padding: 0 10px;
            }
        }

        .contacts {
            margin-top: 26px;

            button {
                display              : grid;
                grid-template-columns: 15% 75%;
            }
        }


        .logos-footer {
            padding-bottom: 10px;

            div {
                margin-top: 15px;
            }
        }
    }
}