.newsletter-area {

    background-color: #F2F2F2;
    padding-bottom  : 36px;

    .registered {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;

        header {
            text-align   : center;
            margin-bottom: 15px;

            h2 {
                font-size    : 22px;
                line-height  : 25px;
                text-align   : center;
                font-family  : 'Lato';
                font-weight  : bold;
                color        : #333333;
                margin-bottom: 0;
                padding-bottom: 10px;
            }

            span {
                font-family: 'Lato';
                color      : gray;
            }
        }

        button {
            border          : none;
            padding         : 8px 0;
            border-radius   : 6px;
            font-size       : 16px;
            text-transform  : uppercase;
            background-color: black;
            color           : white;
            height          : 48px;
            width           : 320px;
        }
    }

    .news {
        @media screen and (min-width: $desktopLarge) {
            width: 1170px;
        }

        @media screen and (min-width: $desktop) {
            width       : 970px;
            margin-right: auto;
            margin-left : auto;
            margin-top  : 15px;
        }
    }

    header {
        padding: 24px 10px 0 10px;

        h2 {
            font-size  : 22px;
            line-height: 25px;
            text-align : center;
            font-family: 'Lato';
            font-weight: bold;
            color      : #333333;

            @media screen and (max-width: $mobile) {
                text-align: left;
            }
        }
    }

    form {
        display: flex;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }

        div {
            display: flex;
            width  : 100%;

            @media screen and (max-width: $mobile) {
                flex-direction: column;
            }
        }

        padding    : 0 10px;
        align-items: center;

        input {
            @media screen and (min-width: $desktop) {
                margin-right: 10px;
                padding     : 0 10px 0 10px;
            }

            @media screen and (max-width: $mobile) {
                margin-bottom: 20px;
            }

            height       : 48px;
            padding      : 5px;
            border       : 0;
            border-radius: 5px;
            flex-grow    : 1;
        }

        button {
            border          : none;
            padding         : 8px 0;
            border-radius   : 6px;
            font-size       : 16px;
            text-transform  : uppercase;
            background-color: black;
            color           : white;
            height          : 48px;

            @media screen and (min-width: $desktop) {
                width: 140px;
            }

            width: 100%;
        }
    }
}